@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
}
:root{
    --primary-color: #003C46;
    --secondery-color: #FF8278;
    --bg-color: #DCDCDC4D;
    --white: #FFFFFF;
    --black: #000000;
    --text-color: #003C46;
    --text-size: 18px;
    --text-size-mob: 16px;
    --tag-text: 18px;
    --tag-text-mob: 16px;
    --btn-text: 16px;
    --hover-btn: #00A6C1;
    --transition: 0.3s all ease-in-out;
}
.container{
    max-width: 1464px;
    margin: 0 auto;
    padding: 0 50px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: normal;
}
h1{
    font-size: 5.4rem;
    font-weight: 800;
    color: var(--primary-color);
}
h2{
    font-size: 3.6rem;
    font-weight: 800;
    color: var(--primary-color);
}
.body-text{
    font-weight: 500;
    font-size: var(--text-size);
    color: var(--text-color);
    line-height: 2.6rem;
}
.tag{
    font-size: var(--tag-text);
    color: var(--secondery-color);
    font-weight: 800;
    cursor: pointer;
}
.active-btn{
    font-size: var(--btn-text);
    font-weight: 600;
    background: var(--secondery-color);
    padding: 16px 70px 16px 60px;
    border-radius: 30px;
    border: none;
    color: var(--white);
    display: inline-block;
}



/* ------------topbar-------------- */
.topbar{
    width: 100%;
    background: var(--primary-color);
}
.topbar .container .inner-container{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topbar .container .inner-container .left a span{
    font-size: 14px;
    color: var(--white);
    transition: var(--transition);
}
.topbar .container .inner-container .left a span:hover{
    color: var(--hover-btn);
}
.topbar .container .inner-container .right a span{
    font-size: 14px;
    color: var(--white);
    position: relative;
    transition: var(--transition);
}
.topbar .container .inner-container .right a span:hover{
    color: var(--hover-btn);
}
.topbar .container .inner-container .right a span::before {
    content: '\f007';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    font-family: 'font awesome 6 free';
    font-weight: 700;
    font-size: 14px;
}


/* ------------ navbar section ------------ */
.navbar{
    background: var(--secondery-color);
}
.navbar .container .inner-container{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    align-items: center;
}

.navbar .container .inner-container .menu ul li a{
    color: var(--white);
    font-size: var(--text-size);
    font-weight: 600;
    padding: 8px 16px;
    transition: var(--transition);
}
.navbar .container .inner-container .menu ul li a:hover{
    color: var(--hover-btn);
}

.navbar .container .inner-container .nav-button a span{
    font-size: var(--text-size);
    font-weight: 800;
    color: var(--white);
    padding-right: 26px;
    position: relative;
    transition: var(--transition);
}
.navbar .container .inner-container .nav-button a span::before{
    position: absolute;
    content: '\e09a';
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(90deg);
    font-family: 'font awesome 6 free';
    font-weight: 700;
}
.navbar .container .inner-container .nav-button a span:hover{
    color: var(--hover-btn);
}
#menu-bar{
    display: none;
}
#menu-bar i{
    font-size: 28px;
    font-weight: 700;
    color: var(--white);    
}



/* ----------------------- banner section -----------------  */
.banner .container .inner-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 175px 0;
}
.banner .container .inner-container .img-section{
    flex-basis: 58%;
}
.banner .container .inner-container .img-section img{
    width: 100%;
}

.banner .container .inner-container .content{
    flex-basis: 42%;
    align-self: center;
    padding-right: 20px;
}
.banner .container .inner-container .content h1{
    margin-bottom: 23px;
}
.banner .container .inner-container .content .body-text{
    margin-bottom: 40px;
    max-width: 470px;
}
.banner .container .inner-container .content .active-btn{
    position: relative;
    transition: var(--transition);
}
.banner .container .inner-container .content .active-btn::after {
    content: '\f08b';
    position: absolute;
    font-family: 'font awesome 6 free';
    top: 50%;
    right: 48px;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 700;
}
.banner .container .inner-container .content .active-btn:hover{
    background: var(--hover-btn);
}
.banner .container .inner-container .content .btn-setjenester{
    font-size: var(--btn-text);
    font-weight: 600;
    border: none;
    color: var(--secondery-color);
    display: inline-block;
    margin-left: 38px;
    position: relative;
    transition: var(--transition);
}
.banner .container .inner-container .content .btn-setjenester::after {
    position: absolute;
    content: '\f105';
    font-family: 'font awesome 6 free';
    font-weight: 700;
    top: 50%;
    right: -14px;
    transform: translateY(-50%);
    font-size: 16px;
}
.banner .container .inner-container .content .btn-setjenester:hover{
    color: var(--hover-btn);
}









/* ------------------------ TV og Internet Section ------------------ */
.tvoginternet{
    background: var(--bg-color);
}
.tvoginternet .container .top-text{
    text-align: center;
    margin-bottom: 80px;
}
.tvoginternet .container .inner-container{
    padding: 120px 0;
}
.tvoginternet .container .inner-container .top-text .tag {
    display: inline-block;
    border-bottom: 2px solid var(--secondery-color);
    padding-bottom: 0.3rem;
}


.tvoginternet .container .inner-container .card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 7.5rem;
}
.tvoginternet .container .inner-container .card > div{
    padding: 4rem;
    background: var(--white);
}
.tvoginternet .container .inner-container .card .left{
    display: flex;
    justify-content: space-between;
    column-gap: 6rem;
    align-items: center;
    border-radius: 10px;
}
/* .tvoginternet .container .inner-container .card .left .img{
    flex-basis: 1;
}
.tvoginternet .container .inner-container .card .left .content{
    flex-basis: 1;
} */
.tvoginternet .container .inner-container .card .left .img img{
    max-width: 160px;
    display: block;
}

.tvoginternet .container .inner-container .card .left .content h3{
    font-size: 24px;
    font-weight: 800;
    color: var(--text-color);
    margin-bottom: 6px;
}
.tvoginternet .container .inner-container .card .left .content .lesmer-btn{
    font-size: var(--btn-text);
    font-weight: 600;
    border: none;
    color: var(--secondery-color);
    margin-top: 10px;
    display: inline-block;
    position: relative;
    transition: var(--transition);
}
.tvoginternet .container .inner-container .card .left .content .lesmer-btn::after{
    position: absolute;
    content: '\f105';
    font-family: 'font awesome 6 free';
    font-weight: 700;
    top: 50%;
    right: -14px;
    transform: translateY(-50%);
    font-size: 16px;
}
.tvoginternet .container .inner-container .card .left .content .lesmer-btn:hover{
    color: var(--hover-btn);
}




.tvoginternet .container .inner-container .card .right{
    display: flex;
    justify-content: space-between;
    column-gap: 6rem;
    align-items: center;
    border-radius: 10px;
}
/* .tvoginternet .container .inner-container .card .right .img{
    flex-basis: 1;
}
.tvoginternet .container .inner-container .card .right .content{
    flex-basis: 1;
} */
.tvoginternet .container .inner-container .card .right .img img{
    max-width: 160px;
    display: block;
}

.tvoginternet .container .inner-container .card .right .content h3{
    font-size: 24px;
    font-weight: 800;
    color: var(--text-color);
    margin-bottom: 6px;
}
.tvoginternet .container .inner-container .card .right .content .lesmer-btn{
    font-size: var(--btn-text);
    font-weight: 600;
    border: none;
    color: var(--secondery-color);
    margin-top: 10px;
    display: inline-block;
    position: relative;
    transition: var(--transition);
}
.tvoginternet .container .inner-container .card .right .content .lesmer-btn::after{
    position: absolute;
    content: '\f105';
    font-family: 'font awesome 6 free';
    font-weight: 700;
    top: 50%;
    right: -14px;
    transform: translateY(-50%);
    font-size: 16px;
}
.tvoginternet .container .inner-container .card .right .content .lesmer-btn:hover{
    color: var(--hover-btn);
}



.tvoginternet .container .inner-container .tvoginternet-btn{
    text-align: center;
}

.tvoginternet .container .inner-container .active-btn{
    margin-top: 7.5rem;
    position: relative;
    transition: var(--transition);
}
.tvoginternet .container .inner-container .active-btn::after {
    content: '\f08b';
    position: absolute;
    font-family: 'font awesome 6 free';
    top: 50%;
    right: 48px;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 700;
}
.tvoginternet .container .inner-container .active-btn:hover{
    background: var(--hover-btn);
}


















/* ------------------------------------ Responsive using Media Query ------------------------  */
@media  screen and (max-width: 989px) {
    .container{
        padding: 0 20px;
    }
    .topbar .container{
        padding: 0 20px;
    }
    .navbar .container{
        padding: 0;
    }
    .navbar .container .inner-container{
        position: relative;
    }
    .navbar .container .inner-container .logo{
        margin-left: 20px;
    }
    .navbar .container .inner-container .nav-button{
        display: none;
    }
    #menu-bar{
        margin-right: 20px;
        display: block;
    }
    #menu-bar i:hover{
        opacity: 0.8;
    }
    .menu{
        display: none;
    }
    .toggled-menu{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
        display: block;
    }
    .menu ul li{
        width: 100%;
        text-align: center;
        margin: 16px 0;
    }
    .menu ul li a{
        display: block;
    }




    
}


@media  screen and (max-width: 900px){
    .banner .container .inner-container{
        padding: 10rem 0;
    }
    .banner .container .inner-container .content .tag{
        font-size: var(--tag-text-mob);
    }
    .banner .container .inner-container .content h1{
        font-size: 3rem;
    }
    .banner .container .inner-container .content .body-text{
        font-size: 1.6rem;
    }
    .banner .container .inner-container .content a{
        font-size: 1.4rem;
    }
    .banner .container .inner-container .content .active-btn{
        padding: 12px 50px 12px 44px;
    }
    .banner .container .inner-container .content .active-btn::after {
        right: 29px;
    }
    .banner .container .inner-container .content .btn-setjenester {
        margin-left: 18px;
    }
}



@media  screen and (max-width: 768px){
    .topbar .container{
        padding: 0 5px;
    }
    .navbar .container .inner-container .logo{
        margin-left: 5px;
    }
    #menu-bar{
        margin-right: 5px;
    }
}



@media  screen and (max-width: 512px) {
    .topbar .container .inner-container {
        height: 36px;
    }
    .navbar .container .inner-container {
        height: 70px;
    }
    .navbar .container .inner-container .menu ul li a {
        font-size: var(--text-size-mob);
    }
}


@media  screen and (max-width: 350px){
    .topbar .container .inner-container .left a span {
        font-size: 12px;
    }
    .topbar .container .inner-container .right a span {
        font-size: 12px;
    }
    .topbar .container .inner-container .right a span::before {
        font-size: 12px;
    }
}